<div class='posting-index'>
  <p id="notice"><%= notice %></p>

  <h1>杉さん掲示板</h1>

  <table>

    <tbody>
      <% @postings.each do |posting| %>
        <tr>
          <td class='title'>
            <%= posting.id %>
            ：
            <span class='user-name'><%= posting.user_name %></span>
            ：
            <%= posting.created_at %>
          </td>
        </tr>
        <tr>
          <td class='text'><%= posting.text %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '書き込む', new_posting_path, class: 'new-posting' %>
</div>
