<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @posting.user_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @posting.text %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
